@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

html, body{
    min-height: 100%;
}

body {
    font-family: 'Work Sans', sans-serif;
    color: #556;
    background: linear-gradient(#eee,#bbb);
    font-weight: 400;
}

canvas{
    width: 90vw;
    margin: 10vh auto auto auto;
}

canvas#miDona{
    width: 40vw;
}

select{
    top: 1rem;
    right: 1rem;
    position: absolute;
}